<!DOCTYPE html>
<html>
<!-- Include standard head partial -->
<%- include('./partials/head') -%>


<body>
<!-- Include menu -->
 <%- include('./partials/menu') -%>
 

 <h1> Sample form results </h1>
 <p> Name: <%= ln %>, <%= fn %> </p>
 <p> Email: <%= em %> </p>
 <p> Total: <%= total %> </p>



</body>

</html>